.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background-color: rgba(161, 161, 161, 0.5);
  right: 0;
  top: 0;
  margin: auto;
}