.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.space {
  --tw-space-x-reverse: 0;
  margin-right: 15px;
  margin-left: 15px;
}

.anchorNav {
  color: var(--onyx);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 8px red solid;
  &:hover {
    border-bottom: 8px pink solid;
  }
}

.anchorNavHighlighted {
  color: var(--onyx);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 8px rgb(81, 52, 185) solid;
  &:hover {
    border-bottom: 8px pink solid;
  }
}
